################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MovieStreamer/obj
/MovieStreamer/bin/Debug/net6.0
